* {
  padding: 0px;
  margin: 0px;
}
img,
video {
  width: 200px;
  height: 200px;
}
input {
  width: 45%;
  font-size: large;
}
button {
  width: 50%;
  font-size: large;
}
.nfts {
  word-wrap: break-word;
  background-color: #eeeeee;
  margin: 7px;
  padding: 7px;
  display: inline-block;
  width: 200px;
}
